name: Build Flask App EXE

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Install Dependencies
        run: |
          pip install pyinstaller flask pyperclip

      - name: Build Flask CLIPBOARDSHARE EXE
        run: |
          # Include templates and static folders
          pyinstaller --onefile app.py `
            --add-data "templates;templates" 

      - name: Upload Executable
        uses: actions/upload-artifact@v4
        with:
          name: clipboardshare-exe
          path: dist/app.exe